#select_box {
	margin: 5px;
}

#query_text {
	background-color: LightSteelBlue;
	color: White;
	font-size: 0.8em;
	padding: 5px;
	margin: 5px;
	width: 100%;
	font-size: 0.8em;
	width: 100%;
}

#result_table {
	margin: 5px;
	width: 100%;
	height: 330px;
}

#control_overlay {
	background-color: Black;
}

#query_table {
	width: 100%;
	height: 310px;
}

.query_manage_modal {
	background-color: White;
	width: 500px;
	height: 430px;
}