.modal {
	width: 80%;
	height: 80%;
	background-color: white;
}

#control_overlay {
	background-color: black;
}

.table {
	display: table;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
}
